<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                Instagram
                 </a>
             </p>
        </div>
    </nav>
</header>