<link rel="stylesheet" href="/css/home.css">
<h1>Welcome !!! Hope you doing good.</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user) {%>
        <form action="/post/create"id="new-post-form" method="POST">
            <textarea name="content"  cols="30" rows="10" placeholder="Enter your content to be posted"></textarea>
            <input type="submit">
        </form>
        <% } %>
        <div id="post-list-container">
            <ul>
                <% for(p of post){%>
                    <%- include('_post') -%>
                <%}%>
            </ul>
        </div>
</section>

<section id="all-users">
    <h4>Friends</h4>
    <% for(user of all_users){ %>
        <p>
            <a href="/user/profile/<%=user.id%>"><%=user.name%></a>
        </p>
        <%}%>
</section>