<link rel="stylesheet" href="/css/home.css">
<h1>Welcome !!! Hope you doing good.</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user) {%>
        <form action="/post/create" id="new-post-form" enctype="multipart/form-data" method="POST">
            <input type="file" name="post" id="new_post_preview" placeholder="Add an image">
            <div class="new-post"><img id="blah" src="https://static.thenounproject.com/png/340719-200.png" alt="your image" /></div>
            <textarea name="content"  cols="30" rows="5" placeholder="Enter your content to be posted"></textarea>
            <input type="submit">
        </form>
        <% } %>
        <div id="post-list-container">
            <ul>
                <% for(p of post){%>
                    <%- include('_post') -%>
                <%}%>
            </ul>
        </div>
</section>
<input id="user-name" type="text" />Search User
<section id="all-users">
    <h4>Friends</h4>
    <% for(user of all_users){ %>
        <p>
            <a href="/user/profile/<%=user.id%>"><%=user.name%></a>
        </p>
        <%}%>
</section>
<script src="/js/home_posts.js"></script>
<script src="/js/new_post_preview.js"></script>