<form action="/user/update-password" method="POST">
    <input type="password" name="password" placeholder="Enter new password">Password
    <input type="password" name="confirm_password" placeholder="Confirm your password">Confirm password
    <input type="hidden" name="accessToken" value="<%=object.accessToken%>">
    <input type="submit">Submit
</form>