// CHANGE :: add styling for the chat box
#user-chat-box{
    position: relative;
    height: auto;
	width: 60%;
	left:20%;
	background: white;
	padding: 5px;
	border:1px solid black;
	.user-image{
		display: flex;
		justify-content: flex-start;
		padding-left: 2rem;
		img{
			height: 5rem;
			width: 5rem;
			border-radius: 50%;
		}
	}
	.user-name{
		position: relative;
		font-size: 2rem;
		padding-left: 2rem;
		padding-top: 1rem;
		a{
			text-decoration: none;
			color:blueviolet;
		}
		a:hover{
			border-bottom: 1px solid black;
		}
	}
    #chat-messages-list{
    	list-style: none;
	    padding: 10px;
	    height: 60%;
	    background-color: white;
	    overflow:auto;
		display:flex;
		flex-direction: column-reverse;
	    .other-message{
		    text-align: left;
		    padding: 5px;
		    span{
		    	display: inline-block;
	    		padding: 15px;
		    	background-color: #ffa0a0;
		    }
		    
	    }

	    .self-message{
		    text-align: right;
		    padding: 5px;
		   
		    span{
		    	 
	    		display: inline-block;
	    		padding: 15px;
    			background-color: #a0dcff;
		    }
		   
	    }

    }
	#chat-messages-list::-webkit-scrollbar{
		display: none;
	}
    #chat-message-input-container{
    	    height: 8%;
		    width: 100%;
		    display: flex;
		    flex-direction: row;

		    #chat-message-input{
	    	    height: 100%;
    			width: 80%;
		    }
		    #send-message{
	    	    height: 100%;
			    width: 20%;
			    font-size: 25px;
			    color: white;
			    border: none;
			    background:blueviolet;
		    }
	    }
}
