.post {
  position: relative;
  background-color: #fdf9f3;
  display: flex;
  width: auto;
  width: 80%;
  left: 10%;
  flex-direction: row;
}

.post .all-info {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.post .post-heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 2px solid black;
}

.post .post-heading .user-name {
  padding-top: 1rem;
  padding-left: 2rem;
  font-weight: bold;
}

.post .post-heading .user-name a {
  text-decoration: none;
  color: blueviolet;
}

.post .post-heading .user-name a:hover {
  border-bottom: 1px solid black;
}

.post .post-heading img {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}

.post .post-heading .delete-button {
  position: relative;
  left: 50%;
  padding-top: 1rem;
  width: fit-content;
}

.post .post-heading .delete-button a {
  color: black;
  font-size: 1.5rem;
  color: blueviolet;
}

.post .post-image img {
  height: 40rem;
  width: 40rem;
  align-self: center;
}

.post .toggle-like-button {
  text-decoration: none;
  display: inline;
  padding-right: 1rem;
  color: black;
  padding-left: 2rem;
}

.post .red {
  color: red;
}

.post .post-content {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.post .post-content .inner-content {
  overflow: auto;
  padding-top: 0.8rem;
}

.post .post-content img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.post .post-content .name {
  text-decoration: none;
  padding-top: 0.8rem;
  position: relative;
  top: -40%;
  color: blueviolet;
}

.post .post-content .name:hover {
  border-bottom: 1px solid black;
}

.post .post-comments {
  display: block;
  padding-left: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post .post-comments .post-comments-list {
  height: 30rem;
  overflow-y: scroll;
}

.post .post-comments .post-comments-list::-webkit-scrollbar {
  display: none;
}

.post .post-comments form {
  height: 2.5rem;
  width: 100%;
  position: relative;
  display: flex;
}

.post .post-comments form input {
  border: none;
  position: relative;
  height: auto;
  width: fit-content;
}

.post .post-comments form input[type=text] {
  width: 85%;
}

.post .post-comments form input[type=submit] {
  width: 10%;
  color: blueviolet;
  font-weight: bold;
  background-color: white;
}
