<div>
    <p>
        Hi <%= object.user.name %>
    </p>
    <br>
    <br>
    <p>To Change Password copy the link <strong>localhost:8000/user/new-password/<%=object.accessToken%></strong> of your account.
    <br>
    <br>
    <p>Thanks!!</p>
</div>